__pycache__
/Demandas
BD_Viajante.xlsx
Template.xlsx
VIAJANTE.xlsx
Volume_por_rota.xlsx
/Entrega Viajante
/BD
VIAJANTE.exe
build
Template (version 1).xlsx
~$Template.xlsx
~$Volume_por_rota teste.xlsx
~$Volume_por_rota.xlsx
Volume_por_rota teste.xlsx
Demandas - Copy
edge_automation_profile
Testes Flechinho
Testes Montagen
VIAJANTE.spec
VIAJANTE
_internal